
    <!-- <img src="img/mdpp22.jpg" alt=""> -->
    <p>ini halaman home</p>
    <!-- <h4 class="mb-4">Berita Terkini</h4>
    <div class="row">
        <% berita.forEach(data => { %>
            <div class="col-md-4 mb-4">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <h5 class="card-title text-lg font-bold"><%= data.judul %></h5>
                        <p class="card-text text-gray-700"><%= data.isi %></p>
                        <button class="btn btn-primary">Selengkapnya</button>
                    </div>
                </div>
            </div>
        <% }) %>          
    </div>
    
